body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
#Intro {
    font-size: 56px;
    font-weight: 900px;
    margin-bottom: 32px;
}
img {
    height: 200px;
    width: 200px;
    margin: 10px;
}
.each {
    max-width: 200px;
}
